<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="EqtTraceLevel" value="1"/>
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="StopTestRunCallTimeoutInSeconds" value="5"/>
    <add key="LogSizeLimitMegs" value="20"/>
    <add key="CreateTraceListener" value="no"/>
    <add key="GetCollectorDataTimeout" value="300"/>
    <add key="EnableHtmlLogger" value="true"/>
    <add key="EnableSnapshotInfo" value="true"/>
  </appSettings>
</configuration>