<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CodedUIPossibilitiesProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="EqtTraceLevel" value="1"/>
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="StopTestRunCallTimeoutInSeconds" value="5"/>
    <add key="LogSizeLimitMegs" value="20"/>
    <add key="CreateTraceListener" value="no"/>
    <add key="GetCollectorDataTimeout" value="300"/>
    <add key="EnableHtmlLogger" value="true"/>
    <add key="EnableSnapshotInfo" value="true"/>
  </appSettings>
  <userSettings>
    <CodedUIPossibilitiesProject.Properties.Settings>
      <setting name="Fullscreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1920</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>1080</value>
      </setting>
    </CodedUIPossibilitiesProject.Properties.Settings>
  </userSettings>
</configuration>